@{
    ViewData["Title"] = "Home Page";
}

<main>
    <div class="dt-first-row">
        <img class="dt-img-basic" src="~/img/profile/profile.JPG" />
        <div class="dt-bio">
            <h5 class="dt-bio-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et netus et malesuada fames ac turpis egestas. Lobortis elementum nibh tellus molestie nunc non. Dapibus ultrices in iaculis nunc sed augue lacus viverra vitae. Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. Nisl purus in mollis nunc. Scelerisque fermentum dui faucibus in ornare quam. Feugiat nisl pretium fusce id velit. Risus commodo viverra maecenas accumsan. Dignissim cras tincidunt lobortis feugiat vivamus at.
            </h5>
        </div>
    </div>
    <div class="dt-second-row">

    </div>
</main>